.create-container {
  margin-top: 20px;
  border-radius: 11px;
}
.info-data {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
}

.form-control {
  text-align: right;
}
.create-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: rgb(61, 127, 179);
}
.RichTextEditor__root___2QXK-{
  height: 234px;
  text-align: justify;
 width: 50em;
 direction: rtl;
}
.RichTextEditor__editor___1QqIU{
  height: 180px;
    width: 100%;
  direction: rtl;
}
.EditorToolbar__root___3_Aqz {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ButtonWrap__root___1EO_R {
  margin-left: 10px;
}
.ButtonWrap__root___1EO_R button{
border: none;
}
.public-DraftStyleDefault-ltr {
  direction: rtl;
  text-align: right;
}
 .sketch-picker{
  position: absolute;
  top: 461px;
  right: 155px;
 z-index: 10;
}

.color-btn-create{
    cursor: pointer;
    position: relative;
    top: 58px;
    left: -164px;
    color: black;
    padding: 5px;
    border-radius: 9px;
    font-weight: bold;

}
.create-container select {
  width: 95%;
  height: 35px;
}
.create-container label {
  font-size: 20px;
}
input,
textarea {
  direction: rtl;
 

}
.input-cont {
  margin-top: 20px;
}
.custom-file {
  width: 50%;
}
.imginput {
  text-align: start;
  color: black;
}
.backlink {
  font-size: 20px;
}
.crBtn {
  position: relative;
  top: 36px;
}
.ql-container .ql-editor{
  direction: rtl;
  text-align: right;
  color: black;
  font-size: 15px;
}
.ql-container.ql-snow {
  height: 257px !important;
  direction: rtl;
  text-align: right;
}
.quill{
  background-color: white;
  height: 300px;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {

  right: -15px !important;

}
.ql-toolbar.ql-snow {
  border-top: none !important;
}
.img-btn{
  margin: 7px 5px 0px 0px !important;
  cursor: pointer;
  border: 1px solid rgb(61, 127, 179);
  color: rgb(61, 127, 179);
  font-weight: bold;
  width: fit-content;
  padding: 0px 11px;
  border-radius: 5px;
 
}
.img-btn:hover{
  background-color: rgb(61, 127, 179);
color: white;

}
.text-editor-cont{
  display: flex;
  flex-direction: column-reverse;
  width: 805px;
  }
  .add-img-container{
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
  background-color: #ffffff ; 
  text-align: right;
  }