.create-container {
  margin-top: 20px;
  border-radius: 11px;
}
.info-data {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
}

.form-control {
  text-align: right;
}
.create-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: rgb(61, 127, 179);
}
.RichTextEditor__root___2QXK-{
  height: 234px;
  text-align: justify;
 width: 50em;
 direction: rtl;
}
.RichTextEditor__editor___1QqIU{
  height: 180px;
    width: 100%;
  direction: rtl;
}
.EditorToolbar__root___3_Aqz {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ButtonWrap__root___1EO_R {
  margin-left: 10px;
}
.ButtonWrap__root___1EO_R button{
border: none;
}
.public-DraftStyleDefault-ltr {
  direction: rtl;
  text-align: right;
}
 .sketch-picker{
  position: absolute;
  top: 461px;
  right: 155px;
 z-index: 10;
}

.color-btn-create{
    cursor: pointer;
    position: relative;
    top: 58px;
    left: -164px;
    color: black;
    padding: 5px;
    border-radius: 9px;
    font-weight: bold;

}
.create-container select {
  width: 95%;
  height: 35px;
}
.create-container label {
  font-size: 20px;
}
input,
textarea {
  direction: rtl;
 

}
.input-cont {
  margin-top: 20px;
}
.custom-file {
  width: 50%;
}
.imginput {
  text-align: start;
  color: black;
}
.backlink {
  font-size: 20px;
}
.crBtn {
  position: relative;
  top: 36px;
}
