.editinfo {
  text-align: center;
  color: rgb(61, 127, 179);

  margin-top: 20px;
}
.editinfo-cont {
  border-radius: 5px;
}
.editinfo textarea {
  resize: none;
  height: 11em;
  width: 44em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px;
  direction: rtl;
}
.RichTextEditor__root___2QXK-{
  height: 234px;
  text-align: justify;
 width: 50em;
 direction: rtl;
}
.RichTextEditor__editor___1QqIU{
  height: 180px;
    width: 100%;
  direction: rtl;
}
.EditorToolbar__root___3_Aqz {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ButtonWrap__root___1EO_R {
  margin-left: 10px;
}
.ButtonWrap__root___1EO_R button{
border: none;
}
.public-DraftStyleDefault-ltr {
  direction: rtl;
  text-align: right;
}
.sketch-picker{
  position: absolute;
  top: 461px;
  right: 209px;
 z-index: 10;
}

.color-btn{
    cursor: pointer;
    position: relative;
    top: 92px;
    left: 173px;
    color: black;
    padding: 5px;
    border-radius: 9px;
    font-weight: bold;

}
.editinfo input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px;
  direction: rtl;
}
.editinfo select {
  width: 100%;
}
.top-info-data,
.bottom-info-data {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}
.input-cont {
  margin-left: 20px;
  width: max-content;
 
}
textarea{
  text-align: justify;
 }
 .ql-container .ql-editor{
  direction: rtl;
  text-align: right;
  color: black;
  font-size: 15px;
}
.ql-container.ql-snow {
  height: 257px !important;
  direction: rtl;
  text-align: right;
}
.quill{
  background-color: white;
  height: 300px;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {

  right: -15px !important;

}

.add-img-container{
  background-color: #ffffff ; 
  padding: 2px;
  }

 